.Balance .lander {
  padding: 30px 0;
  text-align: left;
}

.Balance .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Balance .lander h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.Balance .lander h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.Balance .lander p {
  color: #999;
}

.Balance a {
  color: grey;
  text-decoration: none;
}

.Balance a:hover {
  font-weight: bold;
}

.Balance .Icon {
  font-size: 1.1em;
  vertical-align: bottom;
  color: grey;
}

.Balance .TickerIcon {
  width: 32px;
  height: 32px;
}

.Balance .IconSmall {
  font-size: 1.6em;
  text-align: center;
  vertical-align: middle;
  color: grey;
}

.Balance .Link {
  text-align: center;
  color: grey;
  cursor: pointer;
  text-decoration: none;
}

.Balance .Login {
  padding: 10px 60px;
  text-align: left;
}
