.History .lander {
  padding: 30px 0;
  text-align: left;
}

.History .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.History .lander h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.History .lander p {
  color: #999;
}

.History .Link {
  text-align: center;
  color: grey;
  cursor: pointer;
  text-decoration: none;
}

.History a:hover {
  font-weight: bold;
}

.History .Icon {
  font-size: 1.2em;
  vertical-align: bottom;
  color: grey;
}
