.Home .lander {
  padding: 10px 60px;
  text-align: left;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.Home .lander p {
  color: #999;
}
