.Receive .lander {
  padding: 30px 0;
  text-align: left;
}

.Receive .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Receive .lander h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.Receive .lander h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.Receive .lander p {
  color: #999;
}

.Receive a {
  color: grey;
  text-decoration: none;
}

.Receive a:hover {
  font-weight: bold;
}

.Receive .Icon {
  font-size: 1.1em;
  vertical-align: bottom;
  color: grey;
}

.Receive .TickerIcon {
  width: 96px;
  height: 96px;
  text-align: center;
}

.Receive a {
  color: grey;
  text-decoration: none;
}

.Receive a:hover {
  font-weight: bold;
}

.Receive .IconSmall {
  font-size: 1.6em;
  text-align: center;
  vertical-align: middle;
  color: grey;
}

.Receive .Link {
  text-align: center;
  color: grey;
  cursor: pointer;
  text-decoration: none;
}

.Receive .Login {
  text-align: center;
}

.Receive .rows {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Receive .rows .row {
  display: inline-block;
  width: 192px;
  height: 192px;
  text-align: center;
  vertical-align: top;
  margin: 16px;
}