.Send .lander {
  padding: 30px 0;
  text-align: left;
}

.Send .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Send .lander h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.Send .lander h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.Send .lander p {
  color: #999;
}

.Send a {
  color: grey;
  text-decoration: none;
}

.Send a:hover {
  font-weight: bold;
}

.Send .Link {
  text-align: center;
  color: grey;
  cursor: pointer;
  text-decoration: none;
}

.Send .Login {
  padding: 10px 60px;
  text-align: left;
}

.Send .Icon {
  font-size: 1.1em;
  vertical-align: bottom;
  color: grey;
}

.Send .rows {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Send .rows .row {
  display: inline-block;
  width: 128px;
  height: 128px;
  text-align: center;
  vertical-align: center;
  margin: 32px;
}

.Send div.method img {
  height: 128px;
}
