@media all and (min-width: 640px) {

  .Signup {
    padding: 10px 60px;
    text-align: left;
    }

  .Signup div.row {
    margin: 0 auto;
    max-width: 6400px;
  }
}

.Signup a {
  color: grey;
  text-decoration: none;
}

.Signup span.provider {
  color: grey;
  text-decoration: none;
  font-weight: bold;
  margin-left: 1em;
}

.Signup a:hover {
  font-weight: bold;
}

.Signup h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-bottom: 1.25em;
}

.Signup h3 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-bottom: 1em;
}

.Signup .Icon {
  padding-bottom: 4px;
  vertical-align: top;
  color: grey;
}


.Signup div.oauth.col {
  color: grey;
  text-align: center;
  margin: 1em;
}

.Signup div.provider {
  color: grey;
  text-align: center;
  margin: 0.75em;
  margin-left: 3em;
}

.Signup span.provider {
  padding-right: 1.25em;
}

.Signup div.provider img {
  height: 64px;
}

.Signup div.sep.col-md-auto {
  margin: 0em;
}

.Signup div.basic.col {
  color: grey;
  margin: 1em;
}

.Signup .not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.Signup .not-active img {
  -webkit-filter: grayscale(75%);
     -moz-filter: grayscale(75%);
       -o-filter: grayscale(75%);
      -ms-filter: grayscale(75%);
          filter: grayscale(75%); 
}
