.SwapTake .lander {
  padding: 30px 0;
  text-align: left;
}

.SwapTake .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.SwapTake .lander h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.SwapTake .lander h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.SwapTake .lander p {
  color: #999;
}

.SwapTake a {
  color: grey;
  text-decoration: none;
}

.SwapTake a:hover {
  font-weight: bold;
}

.SwapTake .Link {
  text-align: center;
  color: grey;
  cursor: pointer;
  text-decoration: none;
}

.SwapTake a:hover {
  font-weight: bold;
}

.SwapTake .Icon {
  font-size: 1.2em;
  vertical-align: bottom;
  color: grey;
}

.SwapTake .Login {
  padding: 10px 60px;
  text-align: left;
}

.SwapTake .IconSmall {
  font-size: 1.6em;
  text-align: center;
  vertical-align: middle;
  color: grey;
}

.SwapTake .Link {
  text-align: center;
  color: grey;
  cursor: pointer;
  text-decoration: none;
}

.SwapTake textarea {
  font-family: "PT Mono", Courier, monospace;  
  font-weight: bold;
  color: grey;
  outline: none;
}

.SwapTake textarea:focus {
  color: grey;
}

.SwapTake .SwapIcon {
  font-size: 2.2em;
  margin-right: 0.5em;
  vertical-align: bottom;
  color: grey;
}
